@media (max-width: 969px) {

  html,
  body{
    min-width: 750px;
  }

  .container {
    width: 706px;
  }

  .group-item {
    width: 220px;
    height: 220px;
  }

  .user-options {
    position: relative;

    &__search {
      position: absolute;
      top: 0;
      right: 182px;

      &.opened {
        width: 379px;

        form {
          float: none;
        }
      }
    }

    &__search-button {
      float: none;
    }

    .useroptions-search-input {
      width: 322px;
    }
  }

  .breed-item {
    width: 342px;

    &__image-wrapper {
      width: 139px;
      height: 105px;
    }

    &__info-wrapper {
      width: 203px;
    }

    &__pets {
      padding-top: 7px;
    }
  }

  .pet-card {
    width: 342px;
  }

  .owner-card {
    width: 342px;

    &__image-wrapper {
      width: 90px;
      height: 105px;
    }

    &__info-wrapper {
      width: 252px;
    }

    &__bio {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .community-card {
    width: 342px;

    &__image-wrapper {
      width: 90px;
      height: 105px;
    }

    &__info-wrapper {
      width: 252px;
    }
  }

  .breadcrumbs-navigation {
    position: relative;

    &__left {

      &.opened {
        position: absolute;
        right: 0;
        width: 100%;
        background-color: #fff;
      }
    }
  }

  .left-col {
    float: none;
    margin-right: 0;
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .news-item {

    &__text {
      max-width: 540px;
    }
  }

  .search-container {
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    border-radius: 2px 2px 0 0;

    input[type="text"] {
      width: 657px;
    }
  }

  .compose-a-message {
    border-radius: 0 0 2px 2px;
  }

  .tab-toggles {
    position: relative;
    margin-bottom: 0;

    &__title {
      display: none;
    }

    &__toggle {
      display: block;
      border-bottom: none;
      border-radius: 2px 2px 0 0;

      &.active {
        border-radius: 0;

        .type-1 & {
          border-radius: 2px 2px 0 0;
        }
      }

      &--message-page {
        border-radius: 2px;

        &.active {
          border-radius: 2px 2px 0 0;
        }
      }

      &--pet-page {
        margin-bottom: 0;
      }
    }

    &__list {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      border-radius: 0 0 2px 2px;
      border-top: 1px solid #eee;
      z-index: 200;

      &.hidden {
        display: none;
      }
    }

    &--messages {

      .tab-toggles {

        &__toggle {
          margin-bottom: 0;
          border-bottom: 1px solid #eee;
          border-radius: 2px 2px 0 0;
        }
      }
    }

    &--horizontal {

      .tab-toggle {
        display: block;
        border-bottom: 1px solid #eee;
        border-right: 3px solid transparent;

        &:last-child {
          border-bottom: none;
        }

        &.active {
          border-right: 3px solid @green;

          &:after {
            display: none;
          }
        }
      }
    }

    &--edit {

      .tab-toggles {

        &__toggle {

          &:after {
            right: 60px;
          }
        }
      }

      &:hover {

        &:after {
          color: #fff;
        }
      }

      &.active {

        &:after {
          color: #fff;
        }
      }
    }
  }

  .date-picker {
    padding-bottom: 6px;

    &__title {
      display: none;
    }

    &__row {
      display: inline-block;
      vertical-align: top;
      margin-right: 30px;
    }
  }

  .owner-message {
    margin-bottom: 22px;

    &__text {
      display: inline-block;
      vertical-align: top;
    }
  }

  .photo-gallery {

    &__item {
      width: 211px;
      height: 211px;
    }
  }

  .comment-block {

    &__textarea {
      width: 625px;
    }
  }

  .inner-tabs {
    position: relative;

    &__toggle {
      display: block;
      border-top: 1px solid #eee;

      .inner-tabs--edit & {
        border-top: none;
      }

      .tab-content.photos & {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 30px;
          width: 16px;
          height: 16px;
          background-color: #eaeaea;
          transform: rotate(45deg);
        }

        &:after {
          content: "";
          position: absolute;
          top: auto;
          bottom: -8px;
          left: 30px;
          margin-bottom: 1px;
          width: 16px;
          height: 16px;
          background-color: #f8f8f8;
          transform: rotate(45deg);
          z-index: 1;
        }

        &:hover {

          &:after {
            background-color: @green;
          }
        }

        &.active {

          &:before {
            display: none;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    &__list {
      display: none;
    }

    &__list-item {

      &.active {

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }

    &.opened {

      .inner-tabs {

        &__toggle {

          &.active {
            color: #fff;
            background-color: @green;
            border-radius: 0;

            &:after {
              color: #fff;
            }
          }
        }

        &__list {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #fff;
          border-radius: 0 0 2px 2px;
          box-shadow: 0 1px 2px rgba(25,26,25,.1);
        }

        &__list-item {
          display: block;
        }
      }
    }

    &--edit {

      .inner-tabs {

        &__tooltip-container {
          display: none;
        }
      }

      &.opened {

        .inner-tabs {

          &__list {
            z-index: 400;
          }

          &__message-block {
            display: none;
          }
        }
      }
    }
  }

  .info-table {

    td {
      display: table-row;
    }

    &__title {
      padding-bottom: 4px;
      line-height: 14px;
    }

    &__text {
      padding-top: 4px;
      padding-left: 20px;
    }
  }

  .screen-1 {

    .container {
      background-position: top 10px right 0;
    }
  }
}

@media (max-width: 749px) {

  html,
  body{
    min-width: 480px;
  }

  .container {
    padding: 0 15px;
    width: 450px;
  }

  .groups-container {
    margin-right: -15px;
  }

  .group-item {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 217px;
    height: 217px;
  }

  .page-navigation {

    &__link {
      padding-right: 33px;
      padding-left: 33px;
      font-size: 0;
    }
  }

  .logo {

    &__image {
      display: none;

      &--small {
        display: block;
      }
    }
  }

  .page-header {

    &.logged-in {

      .header-navigation {

        display: none;
      }
    }
  }

  .user-options {
    position: static;

    &__search {
      position: relative;
      display: inline-block;
      vertical-align: top;
      right: auto;

      &.opened {
        position: absolute;
        right: 0;
        box-sizing: border-box;
        width: 100%;
        z-index: 200;

        .useroptions-search-input {
          width: 100%;
        }

        .user-options {

          &__search-button {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

    &__search-button {
      width: 62px;

      &:before {
        left: 22px;
      }
    }

    &__btn {
      width: 62px;
    }

    &__notifications {

      &:before {
        left: 22px;
      }
    }

    &__messages {

      &:before {
        left: 22px;
      }
    }

    .useroptions-search-input {
      width: 338px;
    }
  }

  .menu-toggle {
    right: 22px;
  }

  .menu-container {
    padding: 10px 31px;

    &.active {
      position: static;

      .menu-toggle {
        top: 20px;
        right: 24px;
      }
    }
  }

  .menu-tooltip {
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 15px;
    width: 100%;

    &__mobile-list {
      display: block;
    }

    &__link {
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  .avatar-wrapper {
    display: none;
  }

  .groups-container {

    &--breeds {
      margin-right: 0;
    }
  }

  .breed-item {
    margin-right: 0;
    width: 450px;

    &__image-wrapper {
      width: 208px;
      height: 157px;
    }

    &__info-wrapper {
      padding-top: 20px;
      width: 242px;
    }

    &__rating {
      font-size: 14px;
    }

    &__breed {
      padding-left: 20px;
      min-height: 98px;
      font-size: 16px;
      line-height: 20px;
    }

    &__pets {
      padding-top: 7px;
      padding-left: 20px;
      font-size: 13px;
      line-height: 17px;
    }
  }

  .pet-card {
    margin-right: 0;
    width: 450px;

    &__info-wrapper {
      padding-top: 15px;
    }

    &__text {
      padding-bottom: 7px;
    }

    &__breed {
      padding-top: 7px;
    }
  }

  .owner-card {
    margin-right: 0;
    width: 450px;

    &__info-wrapper {
      width: 360px;
    }
  }

  .community-card {
    margin-right: 0;
    width: 450px;

    &__info-wrapper {
      width: 360px;
    }
  }

  .results-container {
    margin-right: 0;
  }

  .breadcrumbs-navigation {

    &__list-item {

      &:nth-child(4) {
        display: none;
      }
    }
  }

  .news-item {

    &__text {
      max-width: 380px;
    }

    &__social-link {

      &--public {
        display: none;
      }
    }
  }

  .search-container {

    input[type="text"] {
      width: 401px;
    }
  }

  .new-message-container {

    &__input-wrapper {
      width: 345px;
    }
  }

  .message-item {

    &__content-wrapper {
      max-width: 340px;
    }
  }

  .notification-item {

    &__text-wrapper {
      max-width: 325px;
    }
  }

  .sorted-items {
    margin-right: 0;
  }

  .create-a-group {
    margin-right: 0;
  }

  .date-picker {

    &__label {

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }

    &__row {
      margin-right: 10;
    }
  }

  .photo-gallery {

    &__item {
      width: 197px;
      height: 197px;
    }
  }

  .comment-block {

    &__textarea {
      width: 368px;
    }
  }

  .screen-1 {

    .container {
      padding-top: 355px;
      padding-bottom: 40px;
      min-height: 1px;
      background-position: top 65px right 50%;
    }
  }

  .inner-tabs {

    &__add-user-field {
      width: 220px;
      z-index: 100;
    }
  }
}

@media (max-width: 479px) {

  html,
  body{
    min-width: 320px;
  }

  .container {
    padding: 0 13px;
    width: 294px;
  }

  .tooltip-container {
    position: static;
  }

  .menu-tooltip {
    z-index: 300;
  }

  .user-options {
  }

  .screen-1 {

    &__description {
      padding-left: 6px;
      font-size: 18px;
      line-height: 26px;
    }

    .container {
      padding-top: 220px;
      padding-bottom: 80px;
      background-position: top 65px center;
    }

    &.dog {

      .container {
        background-image: url("../img/bg-dog-mobile.png");
      }
    }

    &.cat {

      .container {
        background-image: url("../img/bg-cat-mobile.png");
      }
    }

    &.bird {

      .container {
        background-image: url("../img/bg-bird-mobile.png");
      }
    }
  }

  .page-navigation {

    &__link {
      padding-left: 28px;
      padding-right: 28px;

      &:before {
        left: 14px;
      }
    }
  }

  .breadcrumbs-navigation {
    position: relative;
    padding-left: 10px;

    &__link {
      margin-right: 8px;
    }

    &--level-4 {

      .breadcrumbs-navigation {

        &__link {
          position: relative;
          margin-right: 0;

          &:before {
            content: "\e81b";
            position: absolute;
            top: 0;
            left: -15px;
            font-family: @icon;
            font-size: 12px;
            color: #e5e5e5;
          }
        }

        &__list-item {
          display: none;

          &:after {
            right: 2px;
          }

          &:last-child {
            display: block;
            padding-left: 15px;
          }
        }
      }
    }

    .breadcrumbs-search-input {
      padding-left: 0;
      width: 210px;
      background-color: #fff;
      border-left: none;

      &:focus {
        border-left: none;
      }
    }
  }

  .groups-container {
    margin-right: 0;
  }

  .group-item {
    margin-right: 0;
    margin-bottom: 20px;
    width: 294px;
    height: 294px;
  }

  .header-navigation {

    &__link {
      padding: 0 15px;
    }
  }

  .log-in-btn {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .btn {

    &--login {
      width: 100%;
    }
  }

  .tooltip-content {

    &:before {
      right: 30px;
    }
  }

  .page-header {

    &__inner {
      padding-left: 15px;
    }

    &.nested {

      .log-in-btn {
        border-left: none;
      }
    }
  }

  .breed-item {
    width: 294px;

    &__image-wrapper {
      width: 139px;
      height: 105px;
    }

    &__info-wrapper {
      padding-top: 15px;
      width: 155px;
    }

    &__rating {
      font-size: 12px;
    }

    &__breed {
      min-height: 53px;
      padding-left: 18px;
      font-size: 14px;
      line-height: 18px;
    }

    &__pets {
      padding-left: 18px;
      font-size: 12px;
      line-height: 16px;
      padding-top: 7px;
    }
  }

  .pet-card {
    width: 294px;

    &__info-wrapper {
      padding-top: 10px;
    }

    &__text {
      padding-bottom: 4px;
    }

    &__breed {
      padding-top: 4px;
    }
  }

  .owner-card {
    width: 294px;

    &__info-wrapper {
      width: 204px;
    }
  }

  .community-card {
    width: 294px;

    &__info-wrapper {
      width: 204px;
    }
  }

  .sorting-tooltip {
    width: 300px;
  }

  .news-item {

    &__information-row {
      padding-left: 13px;
      padding-right: 13px;
    }

    &__avatar-wrapper {
      width: 30px;
      height: 30px;
    }

    &__info {
      font-size: 11px;
    }

    &__image-container {
      padding-left: 13px;
      padding-right: 13px;
    }

    &__text-wrapper {
      max-width: 220px;
    }

    &__text {
      padding-left: 13px;
      padding-right: 13px;
    }

    &__social-row {
      padding-left: 13px;
      padding-right: 13px;
      text-align: center;
    }

    &__social-link {
      margin-left: 25px;
      margin-right: 25px;
      font-size: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &--public {
        display: block;
        margin: 0;
      }
    }

    &__social-container {
      margin-left: 25px;
    }
  }

  .news-item-tooltip {
    right: -22%;
    text-align: left;
  }

  .search-container {

    input[type="text"] {
      width: 245px;
    }
  }

  .results-info {

    &__link {
      font-size: 0;
    }
  }

  .new-message-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .new-message-container {

    &__receiver-field {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__input-wrapper {
      width: 100%;
    }
  }

  .messages-timeline {
    padding-right: 12px;
  }

  .message-item {
    padding-left: 10px;

    &__content-wrapper {
      max-width: 200px;
    }
  }

  .notification-item {

    &__image-wrapper {
      margin-bottom: 10px;
    }

    &__text-wrapper {
      max-width: 200px;
    }

    &__message-wrapper {
      margin-left: 0;
      width: 100%;
    }

    &__delete {

      &--long {
        display: none;
      }
    }

    &__row {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .sorting-links-list {

    li {
      padding: 0 11px;
      font-size: 13px;
    }
  }

  .sorting-toggle {
    right: 11px;
  }

  .date-picker {

    &__row {
      display: block;
      margin-right: 0;
      text-align: right;
    }

    &__label {

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  .comment-block {

    &__comment {
      max-width: 80%;
    }

    &__textarea {
      max-width: 213px;
      max-height: 350px;
    }
  }

  .photo-gallery {

    &__item {
      width: 254px;
      height: 254px;
    }
  }

  .ancestor-table {
    display: none;
  }

  .ancestor-table-mobile {
    display: table;
  }

  .breed-table {
    display: none;

    &__inner {
      padding: 10px;
    }
  }

  .breed-table-mobile {
    display: table;
  }

  .info-table {

    &__title {
      padding: 10px;
    }

    &__text {
      padding: 10px;
      padding-left: none;
    }
  }

  .inner-tabs {

    &__cancel-button {
      padding-left: 0;
      font-size: 0;
    }

    &__add-user-field {
      left: -14px;
      top: -9px;
    }
  }
}