.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  line-height: 40px;
  color: @green;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 8px rgba(25,26,25,.14);

  &:hover,
  &--hover{
    opacity: .9;
  }

  &:active,
  &--active{
    opacity: .7;
  }
}
