.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;

  &:hover,
  &--hover{

  }

  &:active,
  &--active{

  }
}
