html,
body{
  min-width: 970px;
  height: 100%;
  background-color: @l-gray;
  color: @d-gray;
}

.container{
  width: 926px;
  margin: 0 auto;
  padding: 0 22px;
}

.v-center {
	display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

input::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

.element {

  &.hidden {
    display: none;
  }
}