.breadcrumbs-navigation {
  margin-bottom: 26px;
  padding-left: 22px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);
  overflow: hidden;

  &--main-page {
    position: relative;
    top: -50px;
    margin-bottom: 0;

    &.nested {
      top: 0;
      margin-bottom: 26px;
    }
  }

  &__list {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:after {
      content: "/";
      position: absolute;
      top: 0;
      right: 4px;
      font-size: 12px;
      line-height: 50px;
      color: #bfbfbf;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    margin-right: 12px;
    text-decoration: none;
    font-size: 12px;
    line-height: 50px;
    color: #bfbfbf;

    &:hover {
      color: @green;
    }
  }

  &__search-button {
    position: relative;
    display: block;
    width: 48px;
    height: 50px;
    font-size: 0;
    background-color: #fff;
    border: none;
    border-left: 1px solid #fff;
    outline: none;

    &:before {
      content: "\e801";
      position: absolute;
      top: 0;
      left: 15px;
      font-family: @icon;
      font-size: 18px;
      line-height: 50px;
      color: @green;
    }
  }

  &__left {
    position: relative;
    float: right;

    .breadcrumbs-navigation__left-close {
      display: none;
    }

    .breadcrumbs-search-input {
      display: none;
    }

    &.opened {

      .breadcrumbs-navigation__left-close {
        display: block;
        position: absolute;
        top: 0;
        right: 60px;
        font-size: 0;
        height: 50px;
        color: #ddd;
        border: none;
        outline: none;
        background-color: #fff;

        &:before {
          content: "\e808";
          position: absolute;
          top: 0;
          left: 0;
          font-family: @icon;
          font-size: 12px;
          line-height: 50px;
        }

        &:hover {

          &:before {
            color: @d-gray;
          }
        }
      }

      .breadcrumbs-search-input {
        display: block;
      }

      form {
        float: right;
      }

      .breadcrumbs-navigation__search-button {
        float: right;
        border-left: 1px solid #eee;
      }
    }
  }

  .breadcrumbs-search-input {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 255px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border: none;
    border-left: 1px solid #eee;
    border-radius: 0;

    &:focus {
      border: none;
      border-left: 1px solid #eee;
    }
  }

  input::-webkit-input-placeholder{
  color: #e6e6e6;
  }
  input::-moz-placeholde{
    color: #e6e6e6;
  }
}