.files-container {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(25,26,25,.1);

  &__btns-wrapper {
    position: relative;

    &:hover {

      .eye-btn {
        display: block;
      }
    }
  }

  &__privacy-tooltip {
    position: absolute;
    display: none;
    right: 7px;
    top: 47px;
    padding-top: 7px;
    padding-bottom: 6px;
    width: 150px;
    background-color: rgba(0,0,0,.8);
    border-radius: 2px;
    z-index: 500;

    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 10px;
      border-color: transparent transparent rgba(0,0,0,.8);
    }

    &.active {
      display: block;
    }
  }

  &__upload-container {
    position: relative;
    overflow: hidden;
  }

  &__add-file {
    position: relative;
    padding-left: 48px;
    font-size: 14px;
    line-height: 52px;
    color: @green;

    &:before {
      content: '\e81a';
      position: absolute;
      top: 0;
      left: 20px;
      font-family: @icon;
      font-size: 14px;
      line-height: 52px;
      color: @green;
    }
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;

    &:hover + .files-container__add-file {
      opacity: .8;
    }
  }

  &--edit {

    .files-container {

      &__btns-wrapper {

        &:hover {

          .eye-btn {
            right: 25px;
            display: block;
          }

          .trash-btn {
            display: block;
          }
        }
      }
    }
  }

  &--edit {

    .eye-btn {
      right: 25px;
    }

    .files-container {

      &__privacy-tooltip {
        right: 33px;
      }
    }
  }
}

.download-link {
	position: relative;
	display: block;
	padding-left: 22px;
	padding-right: 22px;
	text-decoration: none;
	font-size: 14px;
	line-height: 50px;
	color: #656565;
	border-bottom: 1px solid #eee;

	.files-container__btns-wrapper&:last-child & {
    border: none;
  }
}

.eye-btn {
  position: absolute;
  display: block;
  font-size: 0;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:after {
    content: '\e80f';
    position: absolute;
    top: 16px;
    right: 22px;
    font-family: @icon;
    font-size: 16px;
    line-height: 18px;
    color: @green;
  }

  &.visible {
    display: block;
  }

  &.friends-only {

    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: -33px;
      width: 15px;
      height: 15px;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1;
    }
  }

  &.only-me {
    opacity: .14;
  }
}

.trash-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:after {
    content: '\e815';
    position: absolute;
    top: 16px;
    right: 22px;
    font-family: @icon;
    font-size: 14px;
    line-height: 18px;
    color: #dcdcdc;
  }

  &.visible {
    display: block;
  }
}

.privacy-settings-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    padding-left: 35px;
    line-height: 26px;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 10px;
      width: 17px;
      height: 12px;
      background-image: url("../img/icons/icon-eye.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--friends-only {

      &:before {
        opacity: .2;
      }
    }

    &--only-me {

      &:before {
        opacity: .2;
        background-image: url("../img/icons/icon-eye-half.png");
      }
    }
  }
}