.info-table-wrapper {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);

  .owner-page & {

    &:first-child {
      margin-top: 22px;
    }
  }

  .groups-page & {

    &:first-child {
      margin-top: 22px;
    }
  }
}

.info-table {
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  tr {
    width: 100%;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(2) {
      border-bottom: 1px solid #eee;
    }
  }

  td {

    &.table-left-col {
      width: 40%;
      font-size: 12px;
      color: #bfbfbf;
    }
  }

  &__title {
    padding: 16.5px 20px;
  }

  &__text {
    padding-right: 30px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
  }

  &__inner {
    padding: 12px 19px;

    &--ancestor {

      &:nth-child(2) {
        padding-bottom: 0;
      }

      &:nth-child(3) {
        padding-top: 0;
      }
    }
  }

  &__input-wrapper {
    position: relative;
    display: none;

    &:hover {

      .info-table__edit-btn {
        display: block;
      }
    }
  }

  &__select-wrapper {
    position: relative;
    box-sizing: border-box;
    padding-right: 12px;
    width: 100%;
  }

  input[name="cell-value"] {
    margin-bottom: 0;
    padding: 16px;
    padding-left: 0;
    padding-right: 40px;
    font-size: 14px;
    line-height: 18px;
    border: none;

    &:focus + .info-table__edit-btn {
      display: none;
    }

    &:focus ~ .info-table__close-btn {
      display: block;
    }
  }

  &__edit-btn {
    position: absolute;
    top: 19px;
    right: 19px;
    display: none;
    width: 14px;
    height: 14px;
    font-size: 0;
    cursor: pointer;

    &:before {
      content: '\e80a';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 14px;
      color: #e5e5e5;
    }
  }

  &__close-btn {
    position: absolute;
    top: 21px;
    right: 21px;
    display: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    cursor: pointer;

    &:hover {

      &:before {
        color: #ccc;
      }
    }

    &:before {
      content: '\e808';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 12px;
      line-height: 10px;
      color: #ddd;
    }
  }

  &__add-a-breed {
    position: relative;
    padding: 11px;
    padding-left: 19px;
    font-size: 12px;
    line-height: 18px;
    color: @green;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:before {
      content: '\e81a';
      position: absolute;
      top: 13px;
      left: 0;
      font-family: @icon;
      font-size: 12px;
      line-height: 18px;
      color: @green;
    }
  }

  &__notice {
    font-size: 12px;
    line-height: 18px;
    color: #bfbfbf;
    opacity: .47;
  }

  &--edit {

    .info-table {

      &__text {
        display: none;
      }

      &__input-wrapper {
        display: block;
      }
    }
  }
}

.ancestor-table {
  width: 100%;

  &--second {
    margin-top: -1px;
  }

  th {
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }

  td {
    border: 1px solid #eee;
  }

  &__inner {
    padding: 12px 19px;
  }

  &__title {
    font-size: 12px;
    line-height: 26px;
    color: #bfbfbf;
  }

  &__show-more {
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
    color: #656565;

    &:hover {
      color: @green;
    }
  }

  &__avatar-wrapper {
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    overflow: hidden;
  }

  &__avatar {
    display: block;
    width: 100%;
  }

  &__name {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &__details {
    font-size: 12px;
    line-height: 18px;
  }

  &__search-input-wrapper {
    position: relative;
  }

  &__search-btn {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;

    &:after {
      content: '\e801';
      position: absolute;
      top: 0;
      right: 0;
      font-family: @icon;
      font-size: 18px;
      line-height: 18px;
      color: #eaeaea;
    }
  }

  input[type="text"] {
    margin-bottom: 0;
    padding: 6px;
    font-size: 12px;
    line-height: 16px;
    border: none;
  }

  input[name="search"] {
    padding: 6px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #dcdcdc;

    &:focus {
      border: 1px solid #ccc;
    }
  }

  input::-webkit-input-placeholder{
    color: #dcdcdc;
  }
  input::-moz-placeholde{
    color: #dcdcdc;
  }

  &__input-wrapper {
    position: relative;

    &:hover {

      .ancestor-table__edit-btn {
        display: block;
      }
    }
  }

  &__edit-btn {
    position: absolute;
    top: 5px;
    right: 6px;
    display: none;
    width: 13px;
    height: 13px;
    font-size: 0;
    cursor: pointer;

    &:before {
      content: '\e80a';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 14px;
      color: #e5e5e5;
    }
  }

  &--edit {
    margin-bottom: 0;

    td {
      width: 33%;
    }

    .ancestor-table {

      &__inner {
        padding: 8px;
        padding-bottom: 20px;
      }
    }
  }
}

.breed-table {
  margin-bottom: 16px;
  width: 100%;

  th {
    text-align: left;

    &:first-child {
      width: 33%;
    }
  }

  td {
    border: 1px solid #eee;
  }

  &__inner {
    padding: 11px 19px;
  }

  &__title {
    font-size: 12px;
    line-height: 26px;
    color: #bfbfbf;
  }

  &__children {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #656565;

    &:hover {
      opacity: .8;
    }
  }

  &__date {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 18px;
  }

  &__name {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #656565;

    &:hover {
      opacity: .8;
    }
  }

  &__detail {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #656565;
  }

  &__input-wrapper {
    position: relative;

    &:hover {

      .breed-table__edit-btn {
        display: block;
      }
    }
  }

  &__edit-btn {
    position: absolute;
    top: 11px;
    right: 6px;
    display: none;
    width: 13px;
    height: 13px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:before {
      content: '\e80a';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 14px;
      color: #e5e5e5;
    }
  }

  &__add-pet-btn {
    position: relative;
    padding: 11px;
    padding-left: 33px;
    font-size: 12px;
    line-height: 18px;
    color: @green;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:before {
      content: '\e81a';
      position: absolute;
      top: 13px;
      left: 15px;
      font-family: @icon;
      font-size: 12px;
      line-height: 18px;
      color: @green;
    }
  }

  &--edit {

    .breed-table {

      &__inner {
        padding: 6px;
      }

      &__input-wrapper {
        position: relative;
      }
    }

    input[type="text"] {
      margin-bottom: 0;
      padding: 11px 6px;
      font-size: 12px;
      line-height: 18px;
      color: #bfbfbf;
      border: none;

      &:hover + .breed-table__edit-btn {
        display: block;
      }
    }
  }
}

.ancestor-table-mobile {
  display: none;
  margin-bottom: 4px;
  width: 100%;

  th {
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }

  td {
    border: 1px solid #eee;
  }

  .ancestor-table {

    &__avatar-wrapper {
      display: inline-block;
      vertical-align: top;
    }

    &__text-wrapper {
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
      max-width: 170px;
    }
  }
}

.breed-table-mobile {
  display: none;
  width: 100%;
  margin-bottom: 4px;

  th {
    text-align: left;
  }

  td {
    border: 1px solid #eee;
  }
}

.control-tools {

  &__title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 50px;
    padding-right: 22px;
    text-decoration: none;
    font-size: 14px;
    line-height: 50px;
    color: @green;

    &:before {
      position: absolute;
      top: 0;
      left: 20px;
      font-family: @icon;
      font-size: 14px;
      line-height: 50px;
      color: @green;
    }

    &--give-away {

      &:before {
        content: '\e813';
      }
    }

    &--hide {

      &:before {
        content: '\e814';
      }
    }

    &:hover {
      color: #fff;
      background-color: @green;

      &:before {
        color: #fff;
      }
    }
  }
}