.info-table-wrapper {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);
}

.info-table {
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  tr {
    width: 100%;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }

  td {

    &.table-left-col {
      width: 40%;
      font-size: 12px;
      color: #bfbfbf;
    }
  }

  &__title {
    padding: 16.5px 20px;
  }

  &__text {
    padding-right: 30px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
  }
}
