.inner-tabs {
  position: relative;
  margin-bottom: 8px;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }

  &__list-item {
    display: inline-block;
    vertical-align: top;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 12px;
    line-height: 49px;
    color: #bfbfbf;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #bfbfbf;

      &:hover {
        color: @green;
      }
    }

    &.active {
      color: @green;
    }

    &:hover {
      color: @green;
    }
  }

  &__toggle {
    position: relative;
    display: none;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 50px;
    border-radius: 0 0 2px 2px;

    &:after {
      content: "\e817";
      position: absolute;
      top: 0px;
      right: 13px;
      font-family: @icon;
      font-size: 12px;
      color: #ddd;
    }

    &:hover {
      background-color: @green;
      color: #fff;

      &:after {
        color: #fff;
      }
    }
  }

  &__tooltip-content {
    position: absolute;
    bottom: 200%;
    right: -15px;
    display: none;
    padding: 11px 14px;
    width: 155px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      right: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 7px 0 7px;
      border-color: rgba(0,0,0,.6) transparent transparent transparent;
    }
  }

  &__tooltip-toggle {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
      content: '\e810';
      position: absolute;
      top: 0;
      right: 0;
      font-family: @icon;
      font-size: 16px;
      line-height: 16px;
      color: #ddd;
    }
  }

  &__tooltip-container {
    position: absolute;
    top: 16px;
    right: 18px;
    display: none;

    &.opened {

      .inner-tabs__tooltip-content {
        display: block;
      }
    }
  }

  &__textarea-wrapper {
    position: relative;
  }

  &__write-btn {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    width: 13px;
    height: 13px;
    font-size: 0;

    &:after {
      content: '\e80a';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 28px;
      color: #e5e5e5;
    }

    &:hover {

      &:after {
        color: #bfbfbf;
      }
    }
  }

  &__textarea-wrapper {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      left: 29px;
      margin-bottom: -1px;
      bottom: 100%;
      height: 0;
      border-style: solid;
      border-width: 15px 0 0 14px;
      border-color: transparent transparent transparent #d2d2d2;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      left: 30px;
      margin-bottom: -1px;
      bottom: 100%;
      height: 0;
      border-style: solid;
      border-width: 13px 0 0 12.13px;
      border-color: transparent transparent transparent #fff;
    }
  }

  &__textarea {
    margin-bottom: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 30px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;

    &:focus {
      border: 1px solid #d2d2d2;
    }
  }

  &__message-edit-row {
    display: none;
    padding-bottom: 18px;
  }

  input[type=file] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    &:hover + .inner-tabs__upload-link:after {
      opacity: .8;
    }

    &:hover + .inner-tabs__add-media-link {
      opacity: .8;
    }
  }

  &__upload-link {
    position: relative;
    font-size: 0;
    cursor: pointer;

    &:after {
      content: '\e811';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 18px;
      line-height: 20px;
      color: #bfbfbf;
    }
  }

  &__upload-container {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  &__add-user-container {
    position: relative;
    float: left;
    margin-left: 24px;
    width: 20px;
    height: 20px;
    font-size: 0;
  }

  &__add-user-button {
    position: relative;
    width: 20px;
    height: 20px;

    &:after {
      content: '\e812';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 18px;
      line-height: 20px;
      color: #bfbfbf;
      cursor: pointer;
    }

    &:hover {

      &:after {
        opacity: .8;
      }
    }
  }

  &__add-user-field {
    position: absolute;
    top: -10px;
    left: 0;
    display: none;
    width: 285px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(25,26,25,.1);

    input[type="text"] {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 40px;
      border: none;
    }

    &.opened {
      display: block;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 8px;
    height: 8px;
    font-size: 0;
    cursor: pointer;

    &:after {
      content: '\e808';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 12px;
      line-height: 12px;
      color: #ddd;
    }
  }

  &__buttons-wrapper {
    position: relative;
    top: -9px;
    float: right;
    font-size: 0;
  }

  &__cancel-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 40px;
    color: #bfbfbf;
    cursor: pointer;

    &:before {
      content: '\e808';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 39px;
      color: #e5e5e5;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__message-block {
    padding-left: 22px;
    padding-right: 22px;

    &.unfolded {

      .inner-tabs {

        &__textarea {
          height: 85px;
          max-height: 85px;
        }

        &__write-btn {
          display: none;
        }

        &__message-edit-row {
          display: block;
        }
      }
    }
  }

  &__add-media-container {
    position: relative;
    overflow: hidden;
  }

  &__add-media-link {
    position: relative;
    padding-left: 48px;
    font-size: 14px;
    line-height: 52px;
    color: @green;
    border-top: 1px solid #eaeaea;

    &:before {
      content: '\e81a';
      position: absolute;
      top: 0;
      left: 20px;
      font-family: @icon;
      font-size: 14px;
      line-height: 52px;
      color: @green;
    }
  }

  &__add-pet {
    position: relative;
    display: block;
    padding-left: 48px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 50px;
    color: @green;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    cursor: pointer;

    &:after {
      content: '\e81a';
      position: absolute;
      top: 0;
      left: 20px;
      font-family: fontello;
      font-size: 14px;
      line-height: 52px;
      color: #4eb96e;
    }

    &:hover {
      opacity: .8;
    }
  }

  &--edit {
    background-color: #f8f8f8;

    .inner-tabs {

      &__tooltip-container {
        display: block;
      }

      &__list-item {

        &.active {
          position: relative;

          .tab-content.photos & {

            &:before {
              content: "";
              position: absolute;
              bottom: -8px;
              left: 50%;
              margin-left: -8px;
              width: 16px;
              height: 16px;
              background-color: #eaeaea;
              transform: rotate(45deg);
            }

            &:after {
              content: "";
              position: absolute;
              bottom: -8px;
              left: 50%;
              margin-left: -8px;
              margin-bottom: 1px;
              width: 16px;
              height: 16px;
              background-color: #f8f8f8;
              transform: rotate(45deg);
              z-index: 1;
            }
          }
        }
      }
    }
  }
}