.news-item {
  position: relative;
  margin-bottom: 22px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);

  &__message-text-wrapper {
    padding-left: 22px;
    padding-right: 22px;
  }

  &__message-author {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #bfbfbf;
  }

  &__date-block {
    float: right;
    padding-top: 12px;
  }

  &__date {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 18px;
    color: #bfbfbf;
  }

  &__tag {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #bfbfbf;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  &__social-container {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &.opened {

      .news-item-tooltip {
        display: block;
      }

      .news-item__social-link {
        color: @green;
      }
    }
  }

  &.new-comment {

    .comment-block {
      display: block;
    }
  }

  &__information-row {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 0;
  }

  &__avatar-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    background-color: #eee;
    border-radius: 1px;
    overflow: hidden;
  }

  &__avatar {
    display: block;
    width: 100%;
  }

  &__text-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #666;
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    color: #bfbfbf;

    &--bold {
      font-weight: 600;
    }
  }

  &__image-container {
    padding-left: 22px;
    padding-right: 22px;
  }

  &__image {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }

  &__text {
    margin: 0;
    margin-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
  }

  &__social-row {
    padding: 16.5px 22px;
    font-size: 0;
    border-top: 1px solid #eee;
  }

  &__social-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    padding-left: 22px;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #666;

    &:hover {
      color: @green;
    }

    &.active {
      color: @green;
    }

    &:before {
      position: absolute;
      top: -2px;
      left: 0;
      font-family: @icon;
      font-size: 16px;
      color: @green;
    }

    &--like {

      &:before {
        content: "\e80b";
      }
    }

    &--comment {

      &:before {
        content: "\e806";
        font-size: 14px;
      }
    }

    &--share {

      &:before {
        content: "\e80d";
        top: 0;
      }
    }

    &--public {

      &:before {
        content: "\e80c";
        top: 0;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 11px;
    height: 11px;
    font-size: 0;
    cursor: pointer;

    &:after {
      content: '\e808';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 11px;
      color: #e5e5e5;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__edit-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
    width: 11px;
    height: 11px;
    font-size: 0;
    cursor: pointer;

    &:after {
      content: '\e80a';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 14px;
      line-height: 11px;
      color: #e5e5e5;
    }

    &:hover {
      opacity: .8;
    }
  }

  &--edit {

    .news-item {

      &__close-btn {
        display: block;
      }

      &__edit-btn {
        display: block;
      }

      &__social-link {

        &--share {
          display: none;
        }

        &--public {
          display: none;
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
}

.news-item-tooltip {
  position: absolute;
  top: 25px;
  right: 40%;
  display: none;
  width: 155px;
  background-color: rgba(0,0,0,.8);
  border-radius: 2px;
  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10px;
    border-color: transparent transparent rgba(0,0,0,.8);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    border-bottom: 1px solid #515151;

    &:last-child {
      border-bottom: none;
    }
  }

  &__public-link {
    position: relative;
    padding-left: 38px;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 12px;
      font-family: @icon;
      font-size: 16px;
      line-height: 16px;
      color: #fff;
    }

    &:hover {
      color: @green;

      &:before {
        color: @green;
      }
    }

    &--vk {

      &:before {
        content: '\e803';
        left: 9px;
      }
    }

    &--fb {

      &:before {
        content: '\e802';
      }
    }

    &--ok {

      &:before {
        content: '\e804';
        left: 13px;
      }
    }
  }
}