.photo-gallery {
  padding: 19px 12px;
  font-size: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(25,26,25,.1);

  &__image {
    display: block;
    height: 100%;
  }

  &__item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background-color: rgba(0,0,0,.45);
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    width: 179px;
    height: 179px;
    background-color: #cbcbcb;
    overflow: hidden;
    cursor: pointer;

    &:hover {

      .photo-gallery {

        &__item-overlay {
          display: block;
        }

        &__item-close {
          display: block;
        }
      }
    }

    &.hidden {
      display: none;
    }

    &--edit {

      .photo-gallery {

        &__item-title {
          display: none;
        }

        &__item-edit {
          display: block;
        }
      }
    }
  }

  &__item-close {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.45);

    &:before {
      content: '\e808';
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      font-family: @icon;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__input-wrapper {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,.3);

    &:after {
      content: '\e80a';
      position: absolute;
      top: 12px;
      right: 12px;
      font-family: @icon;
      font-size: 14px;
      color: #fff;
      opacity: .5;
    }
  }

  &__item-edit {
    display: none;

    input[type="text"] {
      margin-bottom: 0;
      border: none;
    }

    input::-webkit-input-placeholder{
      color: #fff;
    }
    input::-moz-placeholde{
      color: #fff;
    }
  }

  &__item-title {
    padding: 9px 20px;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }

  &__item-stats {
    width: 100%;
    font-size: 0;
  }

  &__item-likes {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 9px;
    width: 50%;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    border-right: 1px solid rgba(255,255,255,.3);
  }

  &__item-likes-number {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 22px;

    &:before {
      content: '\e80b';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 16px;
      color: #fff;
    }
  }

  &__item-comments {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 9px;
    width: 50%;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }

  &__item-comments-number {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 22px;

    &:before {
      content: '\e806';
      position: absolute;
      top: 0;
      left: 0;
      font-family: @icon;
      font-size: 16px;
      color: #fff;
    }
  }
}